@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 1023px){

}

@media only screen and (max-width: 767px){
   
}

@media only screen and (max-width: 480px){
    h1{
        font-size: 35px;
    }

    .img-empresa{
        max-height: 330px;
    }

    .empresa-header-subtitulo{
        margin-left: 4px;
    }
}