/* @media only screen and (min-width: 480px) {
    
} */

@media only screen and (min-width: 767px) {
    
    .mobile-nav-icon {
        display: none;
    }

    .main-nav {
        display: flex;

    }

    .main-nav li{
        margin: 5px;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;  
        transition: border-right border-left 0.2s;
    }
    .main-nav li a:hover,
    .main-nav li a:active {
        border-left: 3px solid #0a7ee5;
        border-right: 3px solid #0a7ee5;      
    }

    .container-login {
        grid-template-rows: 30vh auto 20vh;
    }

    .container-hero-header {
        background-position: 12%;
        grid-template-rows: 10vh auto 30vh;
    }

    .item-hero-text-box {
        margin: 20px;
    }

    .container-cursos-formacao {
        grid-template-rows: 20vh 60vh;
    }

    .formacoes-botao-plano {
        font-size: 18px;
        box-shadow: 0 13px 16px 0 rgba(43,107,177,.37);
    }

    .container-cursos-formacao p{
        font-size: 1.3em;
        max-width: 50vw;
    }
 
    .container-cursos-formacao h3{
        font-size: 1.5em;
        max-width: 50vw;
    }
 
    .container-planos-individuais h3{
        font-size: 1.5em;
    }
 
    .img-empresa {
         max-height: 100%;
    }

    h2 {
        margin-top: 40px;
    }

    .item-icons {
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        font-size: 30px;
    }

    .item-icons ion-icon {
        margin-left: 10px;
    }
 }

 @media only screen and (min-width: 1023px) {
    
    .container-login {
        grid-template-rows: 25vh auto 20vh;
    }

    .container-hero-header {
        grid-template-rows: 10vh auto 35vh;
    }

    .texto-apresentacao h1 {
        font-size: 3.1em;
    }
    
    .texto-apresentacao p, #empresa1 p{   
        font-size: 1.3em;
    }

    h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    .container-cursos-formacao {
        grid-template-rows: 10vh auto;
    }

    .container-cursos-formacao p{
        font-size: 1.3em;
        max-width: 50vw;
    }
 
    .container-cursos-formacao h3{
        font-size: 1.5em;
        max-width: 50vw;
    }

    .container-planos-individuais h3{
        font-size: 1.5em;
    }

    .item-depoimentos {
        max-width: 60vw;
    }

    .item-galeria img {
        max-width: 25vw;
        padding: 15px;
    }
 
}

@media only screen and (min-width: 1200px) {

    .container-login{
        grid-template-rows: 20vh auto 18vh; 
    }
   
    .swiper-container {
        width: 98vw;
    }
    
    .texto-apresentacao h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2rem;
    }

    .form_wrap {
        width: 50%;
    }

    .item-galeria img {
        max-width: 25vw;
        padding: 40px;
    }
}