@media only screen and (max-width: 1200px){
    .texto-apresentacao h1{
        font-size: 4.1em;
       }

       section p{
        font-size: 35px;
     }

     .item-section p{
         font-size: 3rem;
     }

     #empresa1 h2{
        text-align: center;
        font-size: 4rem;
    }

    .form_wrap{
        width: 50%;
    }
}

@media only screen and (max-width: 1023px){
    .texto-apresentacao h1{
        font-size: 3.1em;
       }
    
    .texto-apresentacao p{
       font-size: 25px;
    }

    section h2{
        text-align: center;
        font-size: 3rem;
    }
}

@media only screen and (max-width: 767px){
   .formacoes-botao-plano{
    font-size: 18px;
    box-shadow: 0 13px 16px 0 rgba(43,107,177,.37);
}

   section p{
    font-size: 24px;
   }

   .img-empresa{
        max-height: 100%;
   }
}

@media only screen and (max-width: 480px){
    .img-empresa{
        max-height: 260px;
        margin-top: 20px;
        padding-bottom: 10px;

    }

    .empresa-header-subtitulo{
        margin-left: 4px;
    }
}