/* ----------------------------------------------- */
/* Configurações Básicas */
/* ----------------------------------------------- */

/*Zerando bordas para ter maior domínio sobre os box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    zoom:1;
    }
    
/*limpa o float depois de um elemento.*/
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility:hidden;
}

html, body {
    background-color: #FFF; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para leitura, tendo uma melhor qualidade*/
    overflow-x: hidden; /*faz sumir a barra de rolagem horizontal*/
}

/* .container-padrao {
    padding: 20px;
} */

section h2 {
    padding: 20px;
}

/* ----------------------------------------------- */
/* PAGE Index - SECTION 1 (Início) */
/* ----------------------------------------------- */
.container-hero-header {
    background-image: /*linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),*/
                      radial-gradient(circle,rgba(255,255,255,0.2),rgba(0,0,0,0.6)),
                      url(' ../img/hero.jpg');
    /*image source: https://i2.wp.com/www.consultoragestal.com.ar/wp-content/uploads/2020/02/img_30298_programhtml.jpg*/
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    height: 100vh;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 33vh 33vh 33vh;
    grid-template-areas: 
      "nav nav"
      ". ."
      "text .";
}


.item-section{
    grid-area: section;
    padding: 20px;
}

.logo {
    /*padding: 40px; */
    max-height: 70px;
}

.item-nav {
    /* background-color: rgb(0, 0, 0, 50%); */
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.main-nav {
    display: none;
    background-color: rgb(0, 0, 0, 50%);
    box-shadow: 1px 1px 4px black;
}

.main-nav li {
    list-style: none;
    padding: 10px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    border: 10px;
}

.mobile-nav-icon {
    color: #0a7ee5;
    font-size: 50px;
}

.item-hero-text-box {
    grid-area: text;
    padding: 20px;
}
/* .hero-text-box {
    position: absolute;
    width: 100vw;
    top: 75%;
    left: 5%;
    transform: translate(-5%, -75%);
} */

header h1, header p {
    color: white;
    text-shadow: 2px 2px 3px rgb(37, 37, 37);
}

header h1 {
    margin-bottom: 0;
}

header p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.btn {
    /* margin: 50px; */
    padding: 13px;
    color: white;
    text-decoration: none;
    border: 2px solid #0a7ee5;
    font-weight: 400;
}

.btn-full {
    background-color: #0a7ee5;
}

.btn-empty {
    color: #0a7ee5;
    
    /* text-shadow: 3px 3px 5px black; */
    background-color: rgb(0, 0, 0, 50%);
}

/* ----------------------------------------------- */
/* PAGE Index - SECTION 2 (Cursos em Destaque) */
/* ----------------------------------------------- */

.container-cursos-destaque {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    /* width: 100vw;  */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh auto;
    grid-template-areas: 
      "title"
      "card";
}

.container-cursos-destaque h2 {
    grid-area: title;
}

.item-cursos-destaque {
    /* padding: 0px; */
    grid-area: card;
    /* background-color: rgb(99, 99, 99); */
}

/* Swiper - Slider */

.swiper-container {
    width: 100vw;
    /* height: 80%;  */
}

.swiper-slide {
    /* height: 20vh; */

    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.swiper-slide div {
    /* background-color: rgb(238, 238, 238);
    box-shadow: 1px 1px 3px rgb(185, 185, 185);
    max-width: 80%; */
}
.swiper-slide img {
    padding: 40px 0;
    max-width: 250px;
}

/* ----------------------------------------------- */
/* PAGE Empresas - SECTION 1 (Início) */
/* ----------------------------------------------- */

.container-empresa-info{
    /* height: 100vh; */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "section"
        "section"
        "section"
    ;
}

.empresa-header-subtitulo{
    /* font-size: 20px; */
    margin-top: 8px;
}

.botao-centralizado{
    display: flex;
    justify-content: center;
}

/* ----------------------------------------------- */
/* PAGE Empresas - SECTION 2 (Planos) */
/* ----------------------------------------------- */
.empresas-sobre-texto{
    font-size: 18px;
    margin-top:10px;
}
.formacoes-botao-plano{
    z-index: 100;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a7ae4;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 7px 0 rgba(43,107,177,.37);
}

.texto-apresentacao{
    margin-bottom: 20px;
}

.tabela-curso table td:nth-child(2){
    text-align: center;
}
.tabela-curso{
    width: 80%;
    display: flex;
    justify-content: center;
}
.tabela-curso table td, th{
    padding-bottom: 15px;
    font-weight: 1000;
}
















