/* ----------------------------------------------- */
/* Configurações Básicas */
/* ----------------------------------------------- */

/*Zerando bordas para ter maior domínio sobre os box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    zoom:1;
    }
    
/*limpa o float depois de um elemento.*/
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility:hidden;
}

html, body {
    background-color: #FFF; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para leitura, tendo uma melhor qualidade*/
    overflow-x: hidden; /*faz sumir a barra de rolagem horizontal*/
}

/* .container-padrao {
    padding: 20px;
} */

section h1,section h2, section p {
    padding: 20px;
}

h2 {
    font-size: 1.7em;
    text-align: center;
}

h3 {
    color: #0a7ee5;
}

.font-color-mobcursos {
    color: #0a7ee5;
}

/* ----------------------------------------------- */
/* PAGE Index - SECTION 1 (Início) */
/* ----------------------------------------------- */
.container-hero-header {
    background-image: /*linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),*/
                      radial-gradient(circle,rgba(255,255,255,0.2),rgba(0,0,0,0.6)),
                      url(' ../img/hero.jpg');
    /*image source: https://i2.wp.com/www.consultoragestal.com.ar/wp-content/uploads/2020/02/img_30298_programhtml.jpg*/
    /* height: 500px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30%;
    height: 100vh;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10vh auto 40vh; /*Também impede nav bar empurrar para baixo itens desta section*/
    grid-template-areas: 
      "nav nav"
      ". ."
      "text .";
}

.logo {
    /*padding: 40px; */
    max-height: 50px;
}

.item-nav {
    /* background-color: rgb(0, 0, 0, 50%); */
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.main-nav {
    display: none;
    background-color: rgb(0, 0, 0, 50%);
    box-shadow: 1px 1px 4px black;
}


.main-nav li {
    list-style: none;
    padding: 10px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    border: 10px;
}

.mobile-nav-icon {
    color: #0a7ee5;
    font-size: 50px;
}

.item-hero-text-box {
    grid-area: text;
    padding: 20px;
}
/* .hero-text-box {
    position: absolute;
    width: 100vw;
    top: 75%;
    left: 5%;
    transform: translate(-5%, -75%);
} */

.item-hero-text-box h1, .item-hero-text-box p {
    padding: 0;
    color: white;
    text-shadow: 2px 2px 3px rgb(37, 37, 37);
}

.item-hero-text-box h1 {
    margin-bottom: 0;
}

.item-hero-text-box p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.btn {
    /* margin: 50px; */
    padding: 13px;
    color: white;
    text-decoration: none;
    border: 2px solid #0a7ee5;
    font-weight: 400;
}

.btn-full {
    background-color: #0a7ee5;
}

.btn-empty {
    color: #0a7ee5;
    
    /* text-shadow: 3px 3px 5px black; */
    background-color: rgb(0, 0, 0, 50%);
}

.btn-white-transp-background {
    background-color: rgba(255, 255, 255, 0.7);
}


/* ----------------------------------------------- */
/* PAGE Index SECTION 2 (Cursos) */
/* ----------------------------------------------- */

.container-cursos-formacao {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    /* width: 100vw;  */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "title-cursos"
      "card-cursos";
}

.container-cursos-formacao h2 {
    grid-area: title-cursos;
}

.item-cursos-formacao {
    /* padding: 0px; */
    grid-area: card-cursos;
    /* background-color: rgb(99, 99, 99); */
}

/* Swiper - Slider */

.swiper-container {
    width: 100vw;
    /* height: 80%;  */
}

.swiper-slide {
    /* height: 20vh; */

    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* .swiper-slide div { */
    /* background-color: rgb(238, 238, 238);
    box-shadow: 1px 1px 3px rgb(185, 185, 185);
    max-width: 80%; */
/* } */

.swiper-slide img {
    padding: 40px 0;
    max-width: 250px;
    max-height: 250px;
}

.swiper-slide p {
    font-size: 1.2em;
    /* padding: 20px */

}

/* ----------------------------------------------- */
/* PAGE Index - SECTION 3 (Planos) */
/* ----------------------------------------------- */

.container-planos-individuais {
    background-color: rgb(248, 248, 248);
    height: 100vh;
    /* width: 100vw;  */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
      "title-planos"
      "card-planos";
}

.container-planos-individuais h2 {
    grid-area: title-planos;
}

.item-planos-individuais {
    /* padding: 0px; */
    grid-area: card-planos;
    /* background-color: rgb(99, 99, 99); */
}

.item-planos-individuais h3 {
    padding-bottom: 20px;
}

.item-planos-individuais table {
    width: 60vw;
}

.item-planos-individuais td {
    padding: 5px;
}

.tabela-planos-individuais table td:nth-child(2), .tabela-curso table td:nth-child(3){
    text-align: center;
}
.tabela-planos-individuais{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.tabela-planos-individuais table td, th{
    padding-bottom: 15px;
    padding-right: 20px;
    font-weight: 1000;
}

.tabela-planos-individuais ion-icon {
    font-size: 30px;
}

/* ----------------------------------------------- */
/* PAGE Index SECTION 4 (Depoimentos) */
/* ----------------------------------------------- */

.container-depoimentos {
    background-image: /*linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),*/
                      radial-gradient(circle,rgba(255,255,255,0.2),rgba(0,0,0,0.6)),
                      url(' ../img/depoimentos.jpg');
    /*Fonte da image source: https://clickaonline.com/blog/melhores-cursos-online-de-ti/*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    /* height: 100vh; */
    /* width: 100vw;  */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh auto;
    grid-template-areas: 
      "title-depoimentos"
      "deps";
}

.container-depoimentos h2 {
    grid-area: title-depoimentos;
    color: white;
    /* text-shadow: 2px 2px 3px rgb(37, 37, 37); */
}

.itens-depoimentos {
    /* padding: 40px; */
    /* width: 100%; */
    grid-area: deps;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.item-depoimentos {
    /* padding: 10px; */
    margin-bottom: 10px;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.5);
}

.item-depoimentos img{
    margin: 15px;
    max-width: 60px;
}

.item-depoimentos h5, .item-depoimentos p {
    padding: 0px;
    color: white;
}

.dep-data {
    font-size: 0.6em;
    color: rgb(199, 199, 199);
}

.dep-texto {
    margin: 15px;
    font-size: 1em;
}

.dep-sobre {
    font-size: 1em;
}

.dep-nome-data-flex {
    /* width: 80%; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

/* ----------------------------------------------- */
/* PAGE Empresas - SECTION 1 (Início) */
/* ----------------------------------------------- */

.container-empresa-info{
    /* height: 100vh; */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "section"
        "section"
        "section"
    ;
}

.item-section{
    grid-area: section;
}

#empresa1{
    margin-top: 1rem;
}

.empresa-header-subtitulo{
    /* font-size: 20px; */
    margin-top: 8px;
}

.botao-centralizado{
    display: flex;
    justify-content: center;
}

/* ----------------------------------------------- */
/* PAGE Empresas - SECTION 2 (Planos) */
/* ----------------------------------------------- */
.empresas-sobre-texto{
    font-size: 18px;
    margin-top:10px;
}

.formacoes-botao-plano{
    z-index: 100;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a7ae4;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 7px 0 rgba(43,107,177,.37);
}

.texto-apresentacao{
    margin-bottom: 20px;
}

.texto-apresentacao h1{
    background-image:
    linear-gradient(180deg, #000428,  #004e92);
    color: white
}

.img-empresa{
    max-height: 260px;
    margin-top: 20px;
    padding-bottom: 10px;

}
.texto-apresentacao p, #empresa1 p{
    font-weight: 550;
    padding: 20px;   
    font-size: 1.2em;
}

.table{
    border-collapse: collapse;
    display: table;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibili
}

.tabela-curso table td:nth-child(2), .tabela-curso table td:nth-child(3){
    text-align: center;
}
.tabela-curso{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.tabela-curso table td, th{
    padding-bottom: 15px;
    padding-right: 20px;
    font-weight: 1000;
}

.tabela-curso ion-icon {
    font-size: 40px;
}

#planos {
    background-color: rgb(235, 235, 235);
}

#planos h3 {
    color: #0a7ee5
}

  /* *{  repetido???
      margin: 0;
      padding: 0;
      box-sizing:border-box;
  }
   */
  :focus{
      outline: none;
  }

/* ----------------------------------------------- */
/* PAGE Empresas - SECTION (Galeria) */
/* ----------------------------------------------- */

.container-galeria {
    background-color: rgb(255, 255, 255);
    /* height: 100vh; */
    /* width: 100vw;  */
    padding: 20px;

    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "foto"; */
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      /* justify-items: center; */
      /* align-items: center;  */
      justify-content: center;
}

/* .container-galeria h2 {
    grid-area: title;
} */

.item-galeria {
    
    display: flex;
    align-items: center;
    padding: 20px;
    /* max-width: 50%; */
    /* grid-area: foto; */
    /* background-color: rgb(99, 99, 99); */
    
}

.item-galeria img {
    max-width: 30vw;
}
/* ----------------------------------------------- */
/* PAGE Empresas - SECTION 3 (Contato) */
/* ----------------------------------------------- */
  
  .form_wrap{
      width: 95%;
      height: 640px;
      margin: 50px auto;
      display: flex;
  
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .contato_info::before{
      content: '';
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
  
      background: #4091EC;
      opacity: 0.9;
  }
  
  .contato_info{
      width: 38%;
      position: relative;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      background-image: url('../fondo.jpg');
      background-size: cover;
      background-position: center center;
  
  }
  
  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: #fff;
  }
  
  .info_title{
      margin-bottom: 60px;
  }
  
  .info_title span{
      font-size: 100px;
      display: block;
      text-align: center;
      margin-bottom: 15px;
  }
  
  .info_title h2{
      font-size: 35px;
      text-align: center;
  }
  
  .info_items p{
      display: flex;
      align-items: center;
  
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  
  .info_items p:nth-child(1) span{
      font-size: 30px;
      margin-right: 10px;
  }
  
  .info_items p:nth-child(2) span{
      font-size: 50px;
      margin-right: 15px;
      margin-left: 4px;
  }
  
  form.form_contact{
      width: 100%;
      padding: 30px 40px;
  }
  
  form.form_contact h5{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
  }
  
  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
  }
  
  form.form_contact label{
      font-weight: 400;
  }
  
  form.form_contact input,
  form.form_contact textarea{
      width: 100%;
      padding: 3px 0px 5px;
      margin-bottom: 20px;
  
      border: none;
      border-bottom: 2px solid #D1D1D1;
  
      font-family: 'Open sans';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
  }
  
  form.form_contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 90px;
  }
  
  form.form_contact input[type="button"]{
      width: 180px;
      background: #4091EC;
      padding: 10px;
      border: none;
      border-radius: 25px;
  
      align-self: flex-end;
  
      color: #fff;
      font-family: 'Open sans';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }
  
  form.form_contact input[type="button"]:hover{
      background: #3371B6;
  }

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }
  


/* ----------------------------------------------- */
/* PAGE Login - SECTION 1 (Login) */
/* ----------------------------------------------- */
.container-login {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(221, 221, 221, 0.8)),
                      /* radial-gradient(circle,rgba(255,255,255,0.2),rgba(223, 223, 223, 0.6)), */
                      url(' ../img/hero.jpg');
    /*image source: https://i2.wp.com/www.consultoragestal.com.ar/wp-content/uploads/2020/02/img_30298_programhtml.jpg*/
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 20vh auto 20vh;  /*Height de footer: Cuidar em media queries. Usado na pagina login*/
    grid-template-areas:
      "nav nav nav"
      ". login ."
      "login-footer login-footer login-footer";
}

.item-login {
    grid-area: login;
}

.form-login-flex {
    display: flex;
    flex-direction: column;
    align-items: center; /*usa largura do item se width estiver ou não em 100%. Pra esticar, usar stretch*/
    
}

.form-login-flex input {
    padding: 3px 0px 5px;
    margin-bottom: 20px;
    border: none;
}

.form-login-flex-forget {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;
}


/* ----------------------------------------------- */
/* PAGE "Todas" - SECTION (Footer) */
/* ----------------------------------------------- */
.container-footer {
    grid-area: login-footer;
    padding: 20px;
    color: #555;
    background-color: rgb(195, 195, 195);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "icons"
      "footer";
}

.item-footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
}

.item-icons {
    grid-area: icons;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 30px;
}

#logo-facebook{
    color: #3b5998;
}

#logo-instagram{
    color: #405DE6;
}

#logo-youtube{
    color: #c4302b;
}

#logo-twitter{
    color: #00acee;
}

#logo-linkedin{
    color: #0e76a8;
}